PORT=9000
POSTGRES_USER=portfolio_user
POSTGRES_PASSWORD=portfolio_password
POSTGRES_DB=portfolio_site
POSTGRES_PORT=5432
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"
DATABASE_URL_DOCKER="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@portfolio_site_be_db:5432/${POSTGRES_DB}?schema=public"
NODE_ENV=development
TZ=Asia/Jakarta
CORS_ORIGINS=http://localhost:3000,http://localhost:3100
COOKIE_SECRET=change_me
RATE_LIMIT_MAX_REQUESTS=60
RATE_LIMIT_WINDOW_MS=60000
JWT_EXPIRES_IN=900
EMAIL_ADMIN=your_email@arzhi.com
SEED_ADMIN_PASSWORD=change_me_seed_password
GOOGLE_CLIENT_ID=...
GOOGLE_CLIENT_SECRET=...
GOOGLE_REDIRECT_URI=http://localhost:9000/auth/google/callback
FRONTEND_URL=http://localhost:3001/home
APP_FRONTEND_URL=http://localhost:3001/home
