PORT=9000
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=portfolio_site
POSTGRES_PORT=5432
DATABASE_URL="postgresql://your_db_user:your_db_password@localhost:5432/portfolio_site?schema=public"
DATABASE_URL_DOCKER="postgresql://your_db_user:your_db_password@portfolio_site_be_db:5432/portfolio_site?schema=public"
NODE_ENV=development
TZ=Asia/Jakarta
CORS_ORIGINS=http://localhost:3000,http://localhost:3100
COOKIE_SECRET=change_me
RATE_LIMIT_MAX_REQUESTS=60
RATE_LIMIT_WINDOW_MS=60000
EMAIL_ADMIN=your_email@arzhi.com
SEED_ADMIN_PASSWORD=change_me_seed_password
GOOGLE_CLIENT_ID=...
GOOGLE_CLIENT_SECRET=...
GOOGLE_REDIRECT_URI=http://localhost:9000/auth/google/callback
FRONTEND_URL=http://localhost:3000/home
